body {
  background-color: lightBlue;
}

table {
  background-color: lightGrey;
}

#nav{
  background-color: blue;
  height: 100px;
}
#md{
  background-color: red;
}
#footer{
  background-color: black;
  height: 100px;
}
.table1 {
  background-color: #2f7744;
  border: solid;
}

.tab1h {
  border: solid;
  border-color: red;
  width: 300px;
  height: 50px;
}

h1 {
  color: blue;
  height: 100px;
  background-color: grey;
  /* padding-left: 60px;
  padding-top:  100px;
  padding-bottom:  300px; */
  margin-left: 60px;
  margin-top: 10px;
  margin-bottom: : 30px;
}

td {
  border: solid;
}

#tab1d1 {
  color: maroon;
  background-color: white;
  height: 100px;
}

#tab1d2 {
  background-color: blue;
}
