body {
  background-color: lightBlue;
}

table {
  background-color: lightGrey;
}

.table1 {
  background-color: aqua;
  border: solid;
}

.tab1h {
  border: solid;
  border-color: red;
  width: 300px;
  height: 100px;
}

td {
  border: solid;
}

#tab1d1 {
  color: maroon;
  background-color: white;
}

#tab1d2 {
  background-color: blue;
}
